.poper {
  z-index: 2000;
}
.poper-div {

  position: relative;
  top: 3px;
  box-shadow: 0 2px 8px 0 rgba(34, 34, 34, 0.2);
  border-radius: 3px;
  background-color: yellow;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 240px;
}
